.MyJobs {
    min-height: 0;
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

.MyJobs-table {
    table-layout: fixed;
}

.MyJobs-tableCell,
.MyJobs-table td,
.MyJobs-table th {
    max-width: 0;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.MyJobs-table .ant-table-header-column {
    /* max-width: 0; */
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.MyJobs-filterArea {
    padding: 6px;
    border: 1px solid rgba(150, 150, 150, 0.3);
    /* box-shadow: 4px 4px 4px; */
    border-radius: 4px;
}

.ant-modal-wrap {
    display: flex;
    flex-direction: column;
}