.UserJobs {
    min-height: 0;
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

.UserJobs-table {
    table-layout: fixed;
}

.UserJobs-tableCell,
.UserJobs-table td,
.UserJobs-table th {
    max-width: 0;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.UserJobs-table .ant-table-column-title {
    /* max-width: 0; */
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.UserJobs-filterArea {
    padding: 6px;
    border: 1px solid rgba(150, 150, 150, 0.3);
    /* box-shadow: 4px 4px 4px; */
    border-radius: 4px;
}